.section-text-with-image {
  max-width: 1600px;
  margin: 0 auto;
  color: var(--background);
  overflow: hidden;
}

.section-text-with-image .grid__wrapper {
  max-width: 1400px;
  height: 700px !important;
  margin: 0 auto;
}

.section-text-with-image h3 {
  color: var(--background);
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: var(--heading-spacing);
  text-transform: unset;
  word-break: break-word;
  margin-bottom: 24px;
}

.section-text-with-image .rte p {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: var(--main-spacing);
}

.section-text-with-image .text-with-image {
  padding: 40px 0;
}

.section-text-with-image .image-container {
  max-height: 600px;
  overflow: hidden;
}

.section-text-with-image .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .section-text-with-image {
    background: -webkit-linear-gradient(
      var(--text-color) 35%,
      var(--background) 35%
    );
    padding: 40px 20px;
    color: var(--text-color) !important;
  }

  .section-text-with-image h3 {
    color: var(--text-color) !important;
    font-size: 0.85em;
  }

  .section-text-with-image .rte p {
    color: var(--text-color) !important;
    font-size: 0.9em;
  }

  .section-text-with-image article.text {
    order: 2;
    text-align: center;
    padding: 24px 0;
  }

  .section-text-with-image article.image {
    order: 1;
  }

  .section-text-with-image .image-container {
    max-height: 400px;
  }
}
