.section-text-with-image {
  max-width: 1600px;
  margin: 0px auto 40px auto !important;
  color: var(--background);
  overflow: hidden;
  background-color: #efefef !important;
}

.section-text-with-image .grid__wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.section-text-with-image h3 {
  color: var(--background);
  font-stretch: normal;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 1;
  letter-spacing: var(--heading-spacing);
  text-transform: unset;
  word-break: break-word;
  margin-bottom: 24px;
}

.section-text-with-image .rte p {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: var(--main-spacing);
}

/* .section-text-with-image .text-with-image {
  padding: 0 0;
} */

.section-text-with-image .image-container {
  height: 600px;
  position: relative;
}

.section-text-with-image .image-container img,
.section-text-with-image .image-container .placeholder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-main {
  background-color: #efefef;
}

@media (max-width: 767px) {
  .section-text-with-image {
    padding: 0;
    color: var(--text-color) !important;
  }

  .section-text-with-image h3 {
    color: var(--text-color) !important;
    font-size: 0.85em;
  }

  .section-text-with-image .rte p {
    color: var(--text-color) !important;
    font-size: 0.9em;
  }

  .section-text-with-image article.text {
    order: 2;
    text-align: center;
  }

  .section-text-with-image article.image {
    order: 1;
  }

  .section-text-with-image .image-container {
    height: 400px;
  }
}
