.announcement-bar.wrapper {
  width: 100%;
  background-color: var(--announcement-bg);
  padding: 0 10px;
  overflow: hidden;
  position: relative;
  height: 40px;
  color: white;
  z-index: 20;
  transition: transform 0.3s ease;
}

.announcement-bar .marquee-track {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-left: 0;
}

.announcement-bar .marquee-content {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
  width: 20%;
}

@media (max-width: 767px) {
  .announcement-bar.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
  }

  .announcement-bar.is-hidden {
    transform: translateY(-100%);
  }

  .announcement-bar .marquee-content {
    width: 50%;
  }
}
