/* Mobile Navigation */
.mobile-nav__mobile-header {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
  background: var(--mobile-header-bg) !important;
}

.mobile-nav__mobile-header.sticky--active {
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  max-width: unset;
  z-index: 999 !important;
  background-color: var(--header-bg) !important;
}

.mobile-nav__mobile-header.is-hidden {
  transform: translateY(-100%) !important;
}

.mobile-nav__mobile-header .header__cart-links--login,
.mobile-nav__mobile-header .header__cart-links--account,
.mobile-nav__mobile-header .header__cart-links--logout {
  display: none;
}

#mobile-search {
  position: fixed !important;
  top: var(--header-height) !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
  background: var(--mobile-header-bg) !important;
  padding: 20px 12px !important;
  display: none;
}

.mobile-search--visible {
  display: block !important;
}

.mobile-search-backdrop {
  position: fixed !important;
  top: var(--header-height) !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
  display: none;
}

.mobile-search-backdrop.is-active {
  display: block !important;
}

/* Standard styles for header elements */
.mobile-nav__wrapper {
  padding-top: 6px;
}

.mobile-nav__mobile-header .mobile-nav__logo-wrapper a {
  font-size: calc(var(--font-size) + 1px);
  display: inline-block !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.mobile-nav__mobile-header a.mobile-nav__text-logo {
  padding: 0 !important;
  height: auto !important;
  line-height: 30px !important;
}

.mobile-nav__mobile-header button {
  padding: 0 !important;
  height: 30px !important;
  line-height: 30px !important;
}

/* Search Form Styling */
.section-header__mobile_search--form {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--mobile-header-text);
  border-radius: 9999px;
  padding: 0 10px;
  margin: 0;
}

.section-header__mobile_search--input {
  flex: 1;
  border: none;
  padding: 20px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  background: transparent;
  color: var(--mobile-header-text);
  width: 100% !important;
}

.section-header__mobile_search--submit {
  padding: 10px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart Styling */
.mobile-header__cart-links--cart {
  position: relative;
  height: 30px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-header__cart-links--cart a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px !important;
  height: 30px !important;
  border-radius: 50%;
  color: var(--mobile-header-bg);
}

.cart-count-bubble {
  position: absolute;
  top: -8px;
  right: -6px;
  width: 24px !important;
  height: 24px !important;
  font-size: 14px;
  line-height: 16px;
  background: var(--mobile-header-text);
  color: var(--mobile-header-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Styles */
.mobile-nav__mobile-header svg .hover-fill,
.section-header__mobile svg .hover-fill {
  fill: var(--mobile-header-text) !important;
}

.mobile-nav__mobile-header svg:hover .hover-fill {
  fill: var(--mobile-header-text);
}

/* Media Queries */
@media (max-width: 767px) {
  #shopify-section-mobile-header {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .cart-count-bubble {
    width: 20px !important;
    height: 20px !important;
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .shopify-section:first-of-type:not(#shopify-section-mobile-header) {
    padding-top: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .shopify-section:first-of-type:not(#shopify-section-mobile-header) {
    padding-top: 60px !important;
  }
}
