.announcement-bar.wrapper {
  width: 100%;
  background-color: var(--announcement-bg, #000) !important;
  padding: 0 10px;
  overflow: hidden;
  height: 40px;
  color: white;
  z-index: 1001;
  transform: translateZ(0);
  will-change: transform;
}

.announcement-bar .marquee-track {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  list-style: none;
}

.announcement-bar .marquee-content {
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  width: 20%;
}

@media (max-width: 767px) {
  .announcement-bar .marquee-content {
    width: 50%;
  }

  /* Mobile-specific styles for the announcement bar */
  .announcement-bar.wrapper.is-hidden {
    transform: translateY(-40px);
  }
}
