@media (max-width: 767px) {
  .section-txt-cols__inner-wrapper {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .section-txt-cols__item {
    flex: 0 0 auto;
    width: 270px !important;
    margin-right: 15px !important;
  }
}

.section-txt-cols__block-heading {
  word-break: break-all;
  font-size: 18px !important;
  font-weight: bold;
}

.section-txt-cols__block-subheading p {
  font-size: 14px;
  text-align: justify;
}
